
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Account home – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
       
        <h1 class="govuk-heading-xl">Customer account search</h1>

      </div>
    </div>


        <div class="govuk-main-wrapper govuk-main-wrapper--l">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-8">
              <h2 class="govuk-heading-m govuk-!-font-weight-bold" >Customer</h2>
              <p class="govuk-body">Search for customer account using customer information.</p>
              <p class="govuk-body govuk-!-margin-bottom-0"><a href="" class="govuk-link">Start customer account search</a></p>

              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            </div>

            <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-8" >
              <h2 class="govuk-heading-m">Employer</h2>
              <p class="govuk-body">Search for customer account using employer information.</p>
              <p class="govuk-body govuk-!-margin-bottom-0"><a href="" class="govuk-link">Start employer search</a></p>

              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            </div>
            <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-8">
              <h2 class="govuk-heading-m">Next of kin</h2>
              <p class="govuk-body">Search for customer account using next of kin information.</p>
              <p class="govuk-body govuk-!-margin-bottom-0"><a href="" class="govuk-link">Start next of kin search</a></p>
            </div>
      </div>
    </div>


{% endblock %}
