
{% extends "layouts/main.html" %}

{% block pageTitle %}
What do you want to search? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
  <link rel="stylesheet" href="/public/javascripts/accessible-autocomplete.min.css" />
  <style>
    .autocomplete__option, .autocomplete__input {
      font-family: "nta", Arial, sans-serif;
    }
  </style>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   

    <h1 class="govuk-heading-xl">What do you want to search?</h1>



    <form class="form" action="view-route" method="post">
      <div class="govuk-form-group">
        <label class="govuk-label" for="searchHosp">
          Employer name
        </label>
        <!-- <input class="govuk-input govuk-input--width-20 autocomplete-wrapper" id="searchHosp" name="search-results" type="text" value="{{ data['search-hospitals'] }}"> -->
        <div id="searchHosp" class="govuk-!-width-two-thirds autocomplete-wrapper" name="search-results" value="{{ data['search-hospitals'] }}" ></div>
      </div>
    </form>


    <div class="govuk-form-group">
      <label class="govuk-label" for="width-20">
        Employee staff reference
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="width-20" name="width20" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="width-10">
        First name
      </label>
      <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">
      <select class="govuk-select" id="sort" name="sort">
        <option value="comments" selected>Contains</option>
        <option value="published">Match exactly</option>
        <option value="updated">Starts with</option>
        <option value="views">Ends with</option>
      </select>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="width-10">
        Last name
      </label>
      <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">
      <select class="govuk-select" id="sort" name="sort">
        <option value="comments" selected>Contains</option>
        <option value="published">Match exactly</option>
        <option value="updated">Starts with</option>
        <option value="views">Ends with</option>
      </select>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="width-10">            
        National Insurance number
      </label>
      <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">     
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="event-name">
        VRA balance
        </label>
      </h1>
      <div class="govuk-input__wrapper">
        <div class="govuk-input__prefix" aria-hidden="true">£</div>
        <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
      </div>
    </div>

    <br>


    {{ govukButton({
      text: "Search",
      href: ""
    }) }}


  </div>
</div>



 
<!-- autocomplete dropdown -->

  <script type="text/javascript">

    var results = [
    'Tesco Stores Ltd',
    'Tesco Bank',
    'Tesco Mobile Limited',
    'Tesco plc',
    'Johnston Compressors Ltd',
    'Hadfield Cars Ltd',
    'Ashton Removals Ltd',
    'Felderman Agency Ltd',
    'Newport Express Ltd',
    'Jeffers Express Ltd',
    'Richards Cakes Ltd',
    'Benson Entertainment Ltd',
    'Benson Fruit Importers Ltd',
    'Venga Scaffolding Ltd',
    'Jones Finishing Ltd',
    'Radcliffe Chemicals Ltd',
    'Malloney Hire Cars Ltd',
    'Adams Marine Equipment Ltd',
    'Goodall Gourmet Foods Ltd',
    'Hadden Plumbing Ltd',
    'Saunders Off Road Vehicles Ltd',
    'Gilpatrick Costume Hire Ltd',
    'Coyer Gardening Services Ltd',
    'Quant Enterprises Ltd',
    'Peak Cameras Ltd',
    'Lilly Off Road Vehicles Ltd',
    'Halsall Sporting Goods Ltd',
    'On Point Delivery Network Ltd',
    'Wright Furnishings Ltd',
    'Ashton Fixings Ltd',
    'Fine Transport Ltd',
    'McBride Cars Ltd',
    'Stellar Security Ltd',
    'Maitland Software Ltd',
    'Roth Developments Ltd',
    'Naylor Design Ltd',
    'Farrell Furniture Ltd',
    'Wrapson Freight Ltd',
    'Sanders Worktops Ltd',
    'Eagle Flooring Ltd',
    'On Top Camping Supplies Ltd',
    'Diamond Memorabilia Ltd',
    'Newsome Manufacturing Ltd',
    'Oldfield Double Glazing Ltd',
    'Sterling Machinery Ltd',
    'Leonard Compressors Ltd',
    'Yorke Beauty Treatments Ltd',
    'Countrywide Workwear Ltd',
    'Tarbuck Fruit Importers Ltd',
    'Peak Caterers Ltd',
    'Hadley Developments Ltd',
    'Cartwright Freight Ltd',
    'Williams Plastics Ltd',
    'Vantage Cars Ltd'
    ]

    element = document.querySelector('#searchHosp')
    accessibleAutocomplete({
      element: element,
      id: "searchHosp",
      name: "search-results",
      minLength: 3,
      source: results,
      confirmOnBlur: false,
      onConfirm: ((hosp) => {
        console.log(hosp)
      })
    })

    // function suggest (query, populateResults) {
    //   const filteredResults = results.filter(result => result.indexOf(query) !== -1)
    //   populateResults(filteredResults)
    // }
</script>


{% endblock %}
