{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Search results – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <form class="form" action="/filter" method="post">

    <h1 class="govuk-heading-xl">
      Search results
    </h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        {%- set filterOptionsHtml %}

          {#  First name        #}
          {{ govukInput({
            id: 'first-name',
            name: 'firstName',
            label: {
              text: 'First name',
              classes: 'govuk-label--s'
            },
            value: firstName
          }) }}
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          {#  Last name        #}
          {{ govukInput({
            id: 'surname',
            name: 'surname',
            label: {
              text: 'Last name',
              classes: 'govuk-label--s'
            },
            value: surname
          }) }}
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          {#  Postcode        #}
          {{ govukInput({
            id: 'postcode',
            name: 'postcode',
            label: {
              text: 'Postcode',
              classes: 'govuk-label--s'
            },
            value: postcode
          }) }}
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          {#  National Insurance number        #}
          {{ govukInput({
            id: 'ni-number',
            name: 'niNumber',
            label: {
              text: 'National Insurance number',
              classes: 'govuk-label--s'
            },
            value: niNumber
          }) }}
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


          {#  IND number     #}   
            {{ govukInput({
              id: 'ind-number',
              name: 'indNumber',
              label: {
                text: 'IND number',
                classes: 'govuk-label--s'
              },
              value: indNumber
            }) }}
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          {#  Benefit type ID        #}
          {{ govukCheckboxes({
            idPrefix: 'benefit-type-id',
            name: 'benefitTypeId',
            classes: "govuk-checkboxes--small",
            fieldset: {
              legend: {
                text: 'Benefit type ID',
                classes: 'govuk-fieldset__legend--s'
              }
            },
            items: benefitTypeIds
          }) }}
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


            {#  IND debt balance        #}
          {{ govukInput({
            id: 'ind-debt-balance',
            name: 'indDebtBalance',
            label: {
              text: 'IND debt balance',
              classes: 'govuk-label--s'
            },
            value: indDebtBalance
          }) }}

        

        {% endset -%}

        {{ mojFilter({
          heading: {
            text: 'Filter'
          },
          submit: {
            attributes: {
              "data-test-id": "submit-button"
            }
          },
          selectedFilters: selectedFilters,
          optionsHtml: filterOptionsHtml
        }) }}
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
          {{ count }} customer records
        </h2>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        {% for result in results %}


          <!-- <h2 class="govuk-!-margin-bottom-1 govuk-!-font-weight-bold govuk-heading-m">{{ result.firstName + ' ' + result.surname }}</h2>
          <p class="govuk-body-l">{{ result.niNumber }}</p>
          <p class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Postcode: </span>{{ result.postcode }}</p>
          <p class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">IND number: </span>{{ result.indNumber }}</p>
          <p class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Benefit type ID: </span>{{ result.benefitTypeId }}</p>
          <p class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">IND debt balance: </span>£{{ result.indDebtBalance }}</p>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> -->


          <div class="govuk-summary-card">

            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                {{ result.firstName + ' ' + result.surname }}
              </h2>
            </div>

            <div class="govuk-summary-card__content">

              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    National Insurance number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ result.niNumber }}
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Postcode
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ result.postcode }}
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    IND number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ result.indNumber }}
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Benefit type ID
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ result.benefitTypeId }}
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    IND debt balance
                  </dt>
                  <dd class="govuk-summary-list__value">
                    £{{ result.indDebtBalance }}
                  </dd>
                </div>

              </dl>

            </div>
          </div>

        {% endfor %}
      </div>
    </div>
  </form>

{% endblock %}
