{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <form class="form" action="/filter" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        {%- set filterOptionsHtml %}

          {#  First name        #}
          {{ govukInput({
            id: 'first-name',
            name: 'firstName',
            label: {
              text: 'First name',
              classes: 'govuk-label--m'
            },
            value: firstName
          }) }}
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          {#  Last name        #}
          {{ govukInput({
            id: 'surname',
            name: 'surname',
            label: {
              text: 'Last name',
              classes: 'govuk-label--m'
            },
            value: surname
          }) }}
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          {#  Postcode        #}
          {{ govukInput({
            id: 'postcode',
            name: 'postcode',
            label: {
              text: 'Postcode',
              classes: 'govuk-label--m'
            },
            value: postcode
          }) }}
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          {#  IND number        #}
{#          {{ govukInput({#}
{#            id: 'ind-number',#}
{#            name: 'indNumber',#}
{#            label: {#}
{#              text: 'IND number',#}
{#              classes: 'govuk-label--m'#}
{#            },#}
{#            value: indNumber#}
{#          }) }}#}
{#          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">#}

          {#  Benefit type ID        #}
          {{ govukCheckboxes({
            idPrefix: 'benefit-type-id',
            name: 'benefitTypeId',
            classes: "govuk-checkboxes--medium",
            fieldset: {
              legend: {
                text: 'Benefit type ID',
                classes: 'govuk-fieldset__legend--m'
              }
            },
            items: benefitTypeId
          }) }}

{#          #}{#  IND debt balance        #}
{#          {{ govukInput({#}
{#            id: 'ind-number',#}
{#            name: 'indNumber',#}
{#            label: {#}
{#              text: 'IND debt balance',#}
{#              classes: 'govuk-label--m'#}
{#            },#}
{#            value: indNumber#}
{#          }) }}#}
{#          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">#}

{#          #}{#  National Insurance number        #}
{#          {{ govukInput({#}
{#            id: 'ni-number',#}
{#            name: 'niNumber',#}
{#            label: {#}
{#              text: 'National Insurance number',#}
{#              classes: 'govuk-label--m'#}
{#            },#}
{#            value: niNumber#}
{#          }) }}#}

        {% endset -%}

        {{ mojFilter({
          heading: {
            text: 'Filter'
          },
          submit: {
            attributes: {
              "data-test-id": "submit-button"
            }
          },
          selectedFilters: {
            heading: {
              text: 'Selected filters'
            },
            clearLink: {
              text: 'Clear filters',
              href: '/filter'
            },
            categories: [
              {
                heading: {
                text: 'First name'
              },
                items: firstNameFilter
              },
              {
                heading: {
                text: 'Last name'
              },
                items: surnameFilter
              },
              {
                heading: {
                text: 'Postcode'
              },
                items: postcodeFilter
              },
              {
                heading: {
                text: 'Benefit type ID'
              },
                items: benefitTypeIdFilterItems
              }
            ]
          },
          optionsHtml: filterOptionsHtml
        }) }}
      </div>
      <div class="govuk-grid-column-two-thirds">

        <h3 class="govuk-heading-s">
          {{ count }} results
        </h3>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        {% for result in results %}
          <h2 class="govuk-!-margin-bottom-1 govuk-!-font-weight-bold govuk-heading-m">{{ result.name }}</h2>
          <p>{{ result.niNumber }}</p>
          <p class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Postcode: </span>{{ result.postcode }}</p>
          <p class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">IND Number: </span>{{ result.indNumber }}</p>
          <p class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Benefit type ID: </span>{{ result.benefitTypeId }}</p>
          <p class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">IND debt balance: </span>£{{ result.indDebtBalance }}</p>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        {% endfor %}
      </div>
    </div>
  </form>

{% endblock %}
