{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{% extends "layouts/main.html" %}

{% block pageTitle %}
Correspondent search results
– {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <form class="form" action="" method="post">

    <h1 class="govuk-heading-xl">
      Correspondent search results
    </h1>

   
<!-- start search criteria -->
    <p class="govuk-body">Your search:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Name: <span class="govuk-!-font-weight-bold">Williams</span></li>
        </ul>
      </p>
        
      <p class="govuk-body">
          <a href="javascript:window.history.back()" class="govuk-link">Change search</a>
      </p>
<!-- end search criteria -->

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<!--  filter - fields -->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full-width">

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Filter results
            </span>
          </summary>
          <div class="govuk-details__text">

            <div class="moj-filter">

              <div class="moj-filter__header">
            
                <div class="moj-filter__header-title">
                  <h2 class="govuk-heading-m">Filter</h2>
                </div>
            
                <div class="moj-filter__header-action">
                  
                </div>
            
              </div>
            
              <div class="moj-filter__content">
            
                
  <!-- selected filters start -->
                  <!-- <div class="moj-filter__selected">
            
                    <div class="moj-filter__selected-heading">
            
                      <div class="moj-filter__heading-title">
                        <h2 class="govuk-heading-m">Selected filters</h2>
                      </div>
            
                        <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
            
                    </div>
            
                    
                      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Type</h3>
            
                      <ul class="moj-filter-tags">
                        
                          <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Blue</a></li>
                        
                          <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Yellow</a></li>
                        
                      </ul>
                    
                      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Status</h3>
            
                      <ul class="moj-filter-tags">
                        
                          <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Completed</a></li>
                        
                      </ul>
                    
            
                  </div> -->
                
   <!-- selected filters end -->

                <div class="moj-filter__options">
            
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-third">
          
          
                      {{ govukRadios({
                        idPrefix: 'benefit-type-id',
                        name: 'benefitTypeId',
                        classes: "govuk-radios--small govuk-radios--inline",
                        fieldset: {
                          legend: {
                            text: 'Correspondent type',
                            classes: 'govuk-fieldset__legend--s'
                          }
                        },
                        items: [
                        {
                          value: "person",
                          text: "Person"
                        },
                        {
                          value: "company",
                          text: "Company"
                        }
                      ]
                      }) }} 
          
                     
          
                  <br>
          
                    </div>
        
                    <div class="govuk-grid-column-one-third">
        
                      {#  Name        #}
                      {{ govukInput({
                        id: 'name',
                        name: 'name',
                        label: {
                          text: 'Correspondent name',
                          classes: 'govuk-label--s'
                        },
                        value: employer
                      }) }}
          
                     
          
                  <br>
          
                    </div>
          
                    <div class="govuk-grid-column-one-third">
          
                      {#  Name        #}
                      {{ govukInput({
                        id: 'name',
                        name: 'name',
                        label: {
                          text: 'Postcode',
                          classes: 'govuk-label--s'
                        },
                        value: employer
                      }) }}
                    
                     
          
                      <br><br>
          
                  </div>
          
                  <div class="govuk-grid-column-one-third">
          
                  
                    {#  Name        #}
                    {{ govukInput({
                      id: 'name',
                      name: 'name',
                      label: {
                        text: "Customer's National Insurance number",
                        classes: 'govuk-label--s'
                      },
                      value: employer
                    }) }}
               
                    <br>
          
                    <button type="submit" class="govuk-button" data-module="govuk-button" data-test-id="submit-button" data-govuk-button-init="">
                      Apply filters
                    </button>
                    
                </div>
            
           
                  </div>
            
                </div>
            
              </div>
            
            </div>
        


<!-- filter - selection -->

<!-- filter - selection -->

      </div>

          </div>
        </details>

        

<!--  filter - results -->
      <div class="govuk-grid-column-full-width govuk-!-margin-top-7">
        <h2 class="govuk-heading-m">
          2 correspondent records
        </h2>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <!-- start customer record -->
        <table class="govuk-table" >

          <thead class="govuk-table__head">
            <tr class="govuk-table__row govuk-!-font-size-16">
        
              <th scope="col" class="govuk-table__header" aria-sort="ascending">Name</th>
        
              <th scope="col" class="govuk-table__header" aria-sort="none">Address</th>

              <th scope="col" class="govuk-table__header" aria-sort="none">Correspondent for</th>
        
              <th scope="col" class="govuk-table__header" aria-sort="none">Customer's National Insurance number</th>
        
              <th scope="col" class="govuk-table__header" aria-sort="none">Amount outstanding</th>
        
              <th scope="col" class="govuk-table__header" style="width:30%" aria-sort="none">Individual balance</th>




            </tr>
          </thead>
        
          <tbody class="govuk-table__body">
        
            <tr class="govuk-table__row govuk-!-font-size-16">
        
              <td class="govuk-table__cell">John Williams</td>
        
              <td class="govuk-table__cell">15 Station Road, Coventry, CV1 3EE</td>

              <td class="govuk-table__cell">Katy Fisher</td>
        
              <td class="govuk-table__cell">FJ448909D</td>
        
              <td class="govuk-table__cell" data-sort-value="1897">	£12,456.98</td>

              <td class="govuk-table__cell " data-sort-value="1897"><ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
                <li>£4,569.44 (Sickness Benefit)</li>
                <li>£4,788.90 (Carers Allowance)</li>
                <li>£3,098.64 (Universal Credit)</li>
              </ul></td>

        
            </tr>

           
            <tr class="govuk-table__row govuk-!-font-size-16">
        
              <td class="govuk-table__cell">Bury and Williams LLP</td>
        
              <td class="govuk-table__cell">26A Linden Avenue, Old Basing, RG24 7HG</td>

              <td class="govuk-table__cell">Sam Smith</td>
        
              <td class="govuk-table__cell">DR448909B</td>
        
              <td class="govuk-table__cell" data-sort-value="1897">	£478</td>

              <td class="govuk-table__cell " data-sort-value="1897"><ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
                <li>£478 (Sickness Benefit)</li>
              </ul></td>

        
            </tr>
           
        
          </tbody>
        </table>
        




      </div>
    </div>
<!-- end filter - results -->



  </form>

{% endblock %}
