{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <span class="govuk-caption-xl">Suspense investigation</span>
    <h1 class="govuk-heading-xl">
      Prototype
    </h1>

    <h2 class="govuk-heading-l">MVP design</h2> 

    <h2 class="govuk-heading-m">Wildcard search - upcoming UR
      <strong class="govuk-tag govuk-tag--red govuk-!-margin-left-2">Not yet tested </strong>
    </h2> 

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="search2">Design idea 1 - checkbox</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="search3">Design idea 2 - select dropdown</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="search4">Design idea 3 - autocomplete</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <h2 class="govuk-heading-m">Version 2 
      <strong class="govuk-tag govuk-tag--red govuk-!-margin-left-2">Not yet tested </strong>
    </h2> 


      {{ govukButton({
          text: "Start",
          href: "/home"
        }) }}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <h3 class="govuk-heading-s">Design notes</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a class="govuk-link" class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1726058904630/4c8dba509ce569b55b66d891723dac90a2cd89c4?wid=0-1728907087044">Mural (opens in new tab)</a> - design notes and journey flow
            </li>
          </ul>

      <h3 class="govuk-heading-s">Pages</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a class="govuk-link" href="home">Account home</a>
            </li>
            <li>
              <a class="govuk-link" href="search">Search</a>
            </li>
            <li>
              <a class="govuk-link" href="filter">Search results</a>
            </li>
          </ul>


    <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

  </div>
</div>

{% endblock %}
