{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <span class="govuk-caption-xl">Allocating payments in suspense</span>
    <h1 class="govuk-heading-xl">
      Prototype
    </h1>

    <h2 class="govuk-heading-m">Design sprint - September 2024</h2>

      {{ govukButton({
          text: "Start",
          href: "/filter"
        }) }}

    <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

  </div>
</div>

{% endblock %}
