{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <span class="govuk-caption-xl">Suspense investigation</span>
    <h1 class="govuk-heading-xl">
      Prototype
    </h1>

    <h2 class="govuk-heading-l">MVP design</h2> 

    <!-- Latest -->

    <h2 class="govuk-heading-m">Latest version</h2>

    <h2 class="govuk-heading-m">Version 3 
      <strong class="govuk-tag govuk-tag--red govuk-!-margin-left-2">Not yet tested </strong>
    </h2> 


      
        {% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
  {{ govukButton({
    text: "Current design - list view",
    href: "/home"
  }) }}


  {{ govukButton({
    text: "Design 2 - table view",
    href: "/home2",
    classes: "govuk-button--secondary"
  }) }}
</div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <h3 class="govuk-heading-s">Design notes</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a class="govuk-link" class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1726058904630/4c8dba509ce569b55b66d891723dac90a2cd89c4?wid=0-1733481934826">Mural (opens in new tab)</a> - design notes and journey flow
            </li>
          </ul>

      <h3 class="govuk-heading-s">Pages</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a class="govuk-link" href="home">Account home</a>
            </li>
            <li>
              <a class="govuk-link" href="search-customer">Customer search</a>
            </li>
            <li>
              <a class="govuk-link" href="filter">Customer search results</a>
            </li>
            <li>
              <a class="govuk-link" href="filter-0">Search results - 0 results</a>
            </li>
            <li>
              <a class="govuk-link" href="search-correspondent">Correspondent search</a>
            </li>
            <li>
              <a class="govuk-link" href="filter-correspondent">Correspondent search results - next of kin</a>
            </li>
            <li>
              <a class="govuk-link" href="filter-correspondent2">Correspondent search results - solicitor/executor</a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<!-- Previous           -->

<h2 class="govuk-heading-m">Previous versions</h2>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
         Previous versions
        </span>
      </summary>
      <div class="govuk-details__text">


        <h2 class="govuk-heading-m">Design - version 2 (employer only search)
          <strong class="govuk-tag govuk-tag--red govuk-!-margin-left-2">Not yet tested </strong>
        </h2> 
    
    
          {{ govukButton({
              text: "Start",
              href: "/v1/home"
            }) }}

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


        <h2 class="govuk-heading-m">Wildcard search
          <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Tested </strong>
        </h2> 
    
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="v1/search">Design idea 1 - filter</a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="v1/search2">Design idea 2 - checkbox</a>
          </li>
        </ul>


    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Alternatives
        </span>
      </summary>
      <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v1/search3">Design idea 3 - select dropdown</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v1/search4">Design idea 4 - autocomplete</a>
      </li>
  
    </ul>
      </div>
    </details>
    




    <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

  </div>
</div>

{% endblock %}
